body {
  margin:0px;
  background-color:rgba(236, 242, 246, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:60px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:60px;
}
#u0_img.mouseOver {
}
#u0.mouseOver {
}
#u1 {
  position:absolute;
  left:2px;
  top:22px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:370px;
  top:9px;
  width:39px;
  height:44px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:44px;
}
#u3 {
  position:absolute;
  left:2px;
  top:14px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:440px;
  top:18px;
  width:297px;
  height:26px;
  font-family:'张海山锐线体简 Bold', '张海山锐线体简';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#3399DB;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:26px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:370px;
  top:84px;
  width:800px;
  height:80px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:80px;
}
#u7 {
  position:absolute;
  left:2px;
  top:32px;
  width:796px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:370px;
  top:163px;
  width:800px;
  height:547px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:547px;
}
#u9 {
  position:absolute;
  left:2px;
  top:266px;
  width:796px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:1190px;
  top:79px;
  width:360px;
  height:200px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:200px;
}
#u11 {
  position:absolute;
  left:2px;
  top:92px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:1190px;
  top:279px;
  width:360px;
  height:281px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:281px;
}
#u13 {
  position:absolute;
  left:2px;
  top:132px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:1506px;
  top:30px;
  width:43px;
  height:29px;
  font-family:'张海山锐线体简 Bold', '张海山锐线体简';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:29px;
}
#u14_img.mouseOver {
}
#u14.mouseOver {
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:1413px;
  top:30px;
  width:75px;
  height:24px;
  font-family:'张海山锐线体简 Bold', '张海山锐线体简';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:24px;
}
#u16_img.mouseOver {
}
#u16.mouseOver {
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:392px;
  top:92px;
  width:111px;
  height:24px;
  font-family:'张海山锐线体简 Bold', '张海山锐线体简';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:24px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:389px;
  top:120px;
  width:173px;
  height:36px;
  font-family:'张海山锐线体简 Bold', '张海山锐线体简';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:36px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:1026px;
  top:132px;
  width:100px;
  height:15px;
  font-family:'张海山锐线体简 Bold', '张海山锐线体简';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:15px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:1120px;
  top:129px;
  width:19px;
  height:22px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:22px;
}
#u25 {
  position:absolute;
  left:2px;
  top:3px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:392px;
  top:186px;
  width:68px;
  height:24px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:24px;
}
#u27 {
  position:absolute;
  left:2px;
  top:4px;
  width:64px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:507px;
  top:217px;
  width:600px;
  height:288px;
  font-family:'张海山锐线体简 Bold', '张海山锐线体简';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#666666;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:288px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:720px;
  top:575px;
  width:99px;
  height:35px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:35px;
}
#u31 {
  position:absolute;
  left:2px;
  top:10px;
  width:95px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:650px;
  top:300px;
  width:200px;
  height:100px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:110px;
}
#u33 {
  position:absolute;
  left:2px;
  top:42px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:712px;
  top:316px;
  width:76px;
  height:15px;
  font-family:'张海山锐线体简 Bold', '张海山锐线体简';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#666666;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:15px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:702px;
  top:357px;
  width:100px;
  height:30px;
  font-family:'张海山锐线体简 Bold', '张海山锐线体简';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u37 {
  position:absolute;
  left:2px;
  top:3px;
  width:96px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:1221px;
  top:344px;
  width:300px;
  height:108px;
  font-family:'张海山锐线体简 Bold', '张海山锐线体简';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#666666;
  text-align:center;
  line-height:36px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:108px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:1265px;
  top:293px;
  width:215px;
  height:34px;
  font-family:'张海山锐线体简 Bold', '张海山锐线体简';
  font-weight:700;
  font-style:normal;
  font-size:26px;
  color:#FF9900;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:34px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:1319px;
  top:486px;
  width:100px;
  height:30px;
  font-family:'张海山锐线体简 Bold', '张海山锐线体简';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u43 {
  position:absolute;
  left:2px;
  top:3px;
  width:96px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:0px;
  top:744px;
  width:1920px;
  height:150px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:150px;
}
#u45 {
  position:absolute;
  left:2px;
  top:67px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:380px;
  top:764px;
  width:65px;
  height:69px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:69px;
}
#u47 {
  position:absolute;
  left:2px;
  top:26px;
  width:61px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:371px;
  top:844px;
  width:87px;
  height:36px;
  font-family:'张海山锐线体简 Bold', '张海山锐线体简';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#3399DB;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:36px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u50 {
  position:absolute;
  left:548px;
  top:804px;
  width:104px;
  height:26px;
  font-family:'张海山锐线体简 Bold', '张海山锐线体简';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#3399DB;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:26px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:678px;
  top:758px;
  width:300px;
  height:142px;
  font-size:18px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:142px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:1442px;
  top:59px;
  width:108px;
  height:121px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:121px;
}
#u55 {
  position:absolute;
  left:2px;
  top:52px;
  width:104px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:1442px;
  top:76px;
  width:108px;
  height:44px;
  font-family:'张海山锐线体简 Regular', '张海山锐线体简';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#666666;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:44px;
}
#u56_img.mouseOver {
}
#u56.mouseOver {
}
#u57 {
  position:absolute;
  left:2px;
  top:10px;
  width:104px;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:1442px;
  top:119px;
  width:108px;
  height:44px;
  font-family:'张海山锐线体简 Regular', '张海山锐线体简';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#666666;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:44px;
}
#u58_img.mouseOver {
}
#u58.mouseOver {
}
#u59 {
  position:absolute;
  left:2px;
  top:10px;
  width:104px;
  word-wrap:break-word;
}
